timm
lightning
albumentations
ttach
numpy
tqdm
opencv-python
scipy
matplotlib
einops
addict
ftfy
regex
matplotlib 
pandas 
notebook 
scikit-learn 
scikit-image 
spectral 
h5py 
tqdm 
opencv-python
segmentation_models_pytorch
fvcore





